/* ==========================================================================
   MMX PCINET / PRODUCT LIST
   ========================================================================== */

:host {
	--mmx-pcinet-form__size: var(--mmx-pcinet-product-list__size);
	--mmx-pcinet-form__slider-size: calc(var(--mmx-pcinet-form__size) * 1.5);
	--mmx-pcinet-product-list__gap: var(--mmx-pcinet-product-list__size);
	--mmx-pcinet-product-list__size: 1rem;
	--mmx-pcinet-product-list__control-height: calc(var(--mmx-pcinet-product-list__size) * 3);
	--mmx-pcinet-product-list__animation-facets: mmx-pcinet-left-drawer 0.5s ease;

	scroll-margin-top: 10vh;
}

:focus-visible {
	outline: 2px solid var(--mmx-pcinet-color-focus);
}

.mmx-pcinet-product-list {
	display: block;
}

/* Title */
.mmx-pcinet-product-list slot[name="title"]::slotted(*) {
	margin: 0 auto 3%;
}

/* Main */
.mmx-pcinet-product-list__main {
	align-content: start;
	display: grid;
	gap: var(--mmx-pcinet-product-list__gap);
}

.mmx-pcinet-product-list__main {
	grid-auto-rows: min-content;
	grid-template-areas:
		"header"
		"products"
		"footer";
}

/* Main: Desktop */
@media (min-width: 60em) {
	.mmx-pcinet-product-list.has-facets--true .mmx-pcinet-product-list__main {
		grid-template-areas:
			"facets header"
			"facets products"
			"facets footer";
		grid-template-columns: var(--mmx-pcinet-product-list__facets-width, 1fr 4fr);
		grid-template-rows: min-content min-content 1fr;
	}

	.mmx-pcinet-product-list.has-facets--false .mmx-pcinet-product-list__main {
		grid-template-areas:
			"header"
			"products"
			"footer"
			"facets";
	}
}

/* Header */
.mmx-pcinet-product-list__header {
	align-items: flex-start;
	display: flex;
	gap: var(--mmx-pcinet-product-list__gap);
	grid-area: header;
	justify-content: space-between;
}

.has-facets--false.has-per-page--false.has-sort-by--false .mmx-pcinet-product-list__header {
	justify-content: center;
}

.has-details--false .mmx-pcinet-product-list__header {
	justify-content: right;
}

/* Per Page & Sort By */
.mmx-pcinet-product-list__per-page-sort-by {
	gap: var(--mmx-pcinet-product-list__gap);
}

.has-facets--false .mmx-pcinet-product-list__per-page-sort-by {
	flex-direction: column;
}

.mmx-pcinet-product-list__header .mmx-pcinet-product-list__per-page-sort-by {
	display: none;
}

.mmx-pcinet-product-list__facets .mmx-pcinet-product-list__per-page-sort-by {
	display: flex;
}

@media (min-width: 60em) {
	.mmx-pcinet-product-list__header .mmx-pcinet-product-list__per-page-sort-by {
		display: flex;
	}

	.mmx-pcinet-product-list__facets .mmx-pcinet-product-list__per-page-sort-by {
		display: none;
	}

	.has-facets--false .mmx-pcinet-product-list__per-page-sort-by {
		flex-direction: row;
	}
}

.mmx-pcinet-product-list__per-page,
.mmx-pcinet-product-list__sort-by {
	flex: 1;
}

.mmx-pcinet-product-list__per-page-sort-by label {
	padding-left: 16px;
}

/* Details */
.mmx-pcinet-product-list__details {
	display: inline-flex;
	gap: calc(var(--mmx-pcinet-product-list__gap) / 2);
	grid-area: details;
	justify-content: right;
	color: var(--mmx-pcinet-color-black);
}

@media (min-width: 60em) {
	.mmx-pcinet-product-list__details {
		text-align: left;
	}
}

.mmx-pcinet-product-list__detail {
	border-right: 1px solid currentColor;
	padding-right: calc(var(--mmx-pcinet-product-list__gap) / 2);
}

.mmx-pcinet-product-list__detail:last-child {
	border-right: none;
	padding-right: none;
}

/* Footer */
.mmx-pcinet-product-list__footer {
	grid-area: footer;
	margin-top: calc(var(--mmx-pcinet-product-list__gap) * 2);
}

/* Pagination */
.mmx-pcinet-product-list__pagination {
	align-items: center;
	display: flex;
	gap: var(--mmx-pcinet-product-list__gap);
	justify-content: center;
}

.mmx-pcinet-product-list__pagination-page:where(:not(.hover)) {
	display: none;
}

@media (min-width: 20em) {
	.mmx-pcinet-product-list__pagination-page:first-of-type,
	.mmx-pcinet-product-list__pagination-page:last-of-type {
		display: initial;
	}
}

@media (min-width: 40em) {
	.mmx-pcinet-product-list__pagination-page.hover + .mmx-pcinet-product-list__pagination-page,
	.mmx-pcinet-product-list__pagination-page:has(+ .mmx-pcinet-product-list__pagination-page.hover) {
		display: initial;
	}
}

@media (min-width: 60em) {
	.mmx-pcinet-product-list__pagination-page {
		display: initial;
	}
}

/* Products */
.mmx-pcinet-product-list__products {
	grid-area: products;
}

.mmx-pcinet-product-list__products slot::slotted(*) {
	align-content: start;
	display: grid;
	gap: calc(var(--mmx-pcinet-product-list__gap) * 2);
	grid-template-columns: repeat(var(--mmx-pcinet-product-list__columns), 1fr);
}


@media screen and (max-width: 40em) {
	.mmx-pcinet-product-list__products {
		--mmx-pcinet-product-list__columns: var(--mmx-pcinet-product-list__columns--mobile, 2);
	}
}

@media screen and (min-width: 40em) and (max-width: 75em) {
	.mmx-pcinet-product-list__products {
		--mmx-pcinet-product-list__columns: var(--mmx-pcinet-product-list__columns--tablet, 3);
	}
}

@media screen and (min-width: 75em) {
	.mmx-pcinet-product-list__products {
		--mmx-pcinet-product-list__columns: var(--mmx-pcinet-product-list__columns--desktop, 4);
	}
}

/* Facets */
.mmx-pcinet-product-list__facets {
	display: grid;
	gap: var(--mmx-pcinet-product-list__gap);
	grid-area: facets;
	grid-auto-rows: min-content;
}

.mmx-pcinet-product-list__facets-form {
	display: flex;
	flex-direction: column;
	gap: var(--mmx-pcinet-product-list__gap);
}

.mmx-pcinet-product-list__facets-header {
	--mmx-pcinet-text-margin-bottom: 0;
    align-items: center;
	display: grid;
	grid-area: header;
    grid-template-columns: 1fr max-content;
}

.mmx-pcinet-product-list__facet-applied-values {
	grid-area: applied;
}

.mmx-pcinet-product-list__facet-list {
	grid-area: list;
}

.mmx-pcinet-product-list__facet-value {
	display: grid;
	gap: 0.5em;
	grid-template-columns: min-content 1fr min-content;
	margin-left: calc(var(--mmx-pcinet-product-list__gap) * var(--mmx-pcinet-product-list__facet-value-depth, 0));
}

.mmx-pcinet-product-list__facet-value .mmx-pcinet-form-checkbox__input,
.mmx-pcinet-product-list__facet-value .mmx-pcinet-form-radio__input {
	margin: 0;
}

.mmx-pcinet-form-checkbox__input {
	accent-color: var(--mmx-pcinet-color-grey-03);
}

.mmx-pcinet-product-list__facet-value-count {
	font-size: smaller;
	letter-spacing: 0.05em;
	color: var(--mmx-pcinet-color-grey-05);
}

/* Facets: Dialog */
.mmx-pcinet-product-list__facets-dialog-open {
	background: transparent;
	border: none;
	font-weight: var(--mmx-pcinet-font-weight-medium);
	grid-area: facets-dialog-open;
	padding: 0;
	text-align: left;
}

.mmx-pcinet-product-list__facets-dialog-open mmx-pcinet-icon {
	margin-right: 0.25em;
	vertical-align: middle;
}

.mmx-pcinet-product-list__facets-dialog {
	width: 100%;
}

.mmx-pcinet-product-list__facets-dialog:not([open]) {
	background: none;
	border: none;
	display: none;
	margin: 0;
	padding: 0;
	position: static;
}

@media (min-width: 60em) {
	.has-facets--true .mmx-pcinet-product-list__facets-dialog:not([open]) {
		display: block;
	}

	.mmx-pcinet-product-list__facets-dialog-open {
		display: none;
	}
}

.mmx-pcinet-product-list__facets-dialog[open] {
	animation: var(--mmx-pcinet-product-list__animation-facets);
	border: 0;
	border-radius: 0;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
	height: 100%;
	margin: 0;
	max-height: 100%;
	outline: 0;
	padding: var(--mmx-pcinet-spacing-m);
	width: min(40em, 90vw);
}

@keyframes mmx-pcinet-left-drawer {
	from {
		transform: translateX(-100%);
	}
}

/* Facets: Dialog: Backdrop */
.mmx-pcinet-product-list__facets-dialog::backdrop {
	background: rgba(0, 0, 0, 0.8);
}

/* Facets: Dialog: Close Button */
.mmx-pcinet-product-list__facets-dialog:not([open]) .mmx-pcinet-product-list__facets-dialog-close {
	display: none;
}

.mmx-pcinet-product-list__facets-dialog[open] .mmx-pcinet-product-list__facets-dialog-close {
	display: inline-block;
	position: absolute;
    right: var(--mmx-pcinet-product-list__gap);
    top: var(--mmx-pcinet-product-list__gap);
}

.mmx-pcinet-product-list__facets-dialog[open] .mmx-pcinet-product-list__clear-all {
	display: none;
}

.mmx-pcinet-product-list__facets-dialog-close mmx-pcinet-icon {
	line-height: 1;
}

/* Facets: Accordion */
.mmx-pcinet-product-list__facets mmx-pcinet-accordion::part(title) {
	display: none;
}

.mmx-pcinet-product-list__facets mmx-pcinet-accordion {
	--mmx-pcinet-accordion__spacing: 0.75rem;
	--mmx-pcinet-accordion__padding: 1rem;
}

.mmx-pcinet-product-list__facets .mmx-pcinet-accordion__heading,
.mmx-pcinet-product-list__facets .mmx-pcinet-accordion__content {
	padding-left: 0;
	padding-right: 0;
}

.mmx-pcinet-product-list__facets .mmx-pcinet-accordion__heading:first-of-type {
	padding-top: 0;
}

.mmx-pcinet-product-list__facets .mmx-pcinet-accordion__details:last-of-type {
	border-bottom: 0;
}