/* ==========================================================================
   MMX PCINET / BUTTON
   ========================================================================== */

.mmx-pcinet-button {
	padding: 0;
	border-radius: 4px;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	font-family: var(--mmx-pcinet-font-family-1);
}

.mmx-pcinet-button:disabled {
	cursor: not-allowed;
}

/* Link vs. Button Styles
   =========================================== */
.mmx-pcinet-button__button {
	border-width: 1px;
	border-style: solid;
	text-decoration: none;
}

.mmx-pcinet-button__button.mmx-pcinet-button__width--full {
	display: block;
	width: 100%;
}

.mmx-pcinet-button__link {
	background: none;
	border: 0;
	color: var(--mmx-pcinet-color-primary-bg);
	display: inline-block;
	font-size: 13px;
	text-decoration-thickness: 1px;
	text-decoration: underline;
	text-underline-offset: 4px;
}

	.mmx-pcinet-button__link:hover,
	:host(.hover) .mmx-pcinet-button__link {
		text-decoration-thickness: 2px;
	}

	.mmx-pcinet-button__link:focus,
	:host(.focus) .mmx-pcinet-button__link {
		outline: 2px solid var(--mmx-pcinet-color-focus);
	}


/* Theme: Light
   =========================================== */
.mmx-pcinet-button__primary,
.mmx-pcinet-button__secondary:hover,
:host(.hover) .mmx-pcinet-button__secondary {
	background: var(--mmx-pcinet-color-primary-bg);
	border-color: var(--mmx-pcinet-color-primary-bg);
	color: var(--mmx-pcinet-color-primary-text);
}

	.mmx-pcinet-button__primary:hover,
	:host(.hover) .mmx-pcinet-button__primary,
	.mmx-pcinet-button__secondary {
		background: transparent;
		border-color: var(--mmx-pcinet-color-primary-bg);
		color: var(--mmx-pcinet-color-primary-bg);
	}

	.mmx-pcinet-button__primary:disabled,
	:host(.disabled) .mmx-pcinet-button__primary {
		background: #CCCCCC;
		border-color: #CCCCCC;
		color: var(--mmx-pcinet-color-primary-disabled-text);
	}

	.mmx-pcinet-button__secondary:disabled,
	:host(.disabled) .mmx-pcinet-button__secondary {
		background: transparent;
		border-color: var(--mmx-pcinet-color-secondary-disabled-border);
		color: var(--mmx-pcinet-color-secondary-disabled-text);
	}

	.mmx-pcinet-button__primary:focus,
	:host(.focus) .mmx-pcinet-button__primary,
	.mmx-pcinet-button__secondary:focus,
	:host(.focus) .mmx-pcinet-button__secondary,
	.mmx-pcinet-button__dark-primary:focus,
	:host(.focus) .mmx-pcinet-button__dark-primary,
	.mmx-pcinet-button__dark-secondary:focus,
	:host(.focus) .mmx-pcinet-button__dark-secondary,
	.mmx-pcinet-button__pill:focus,
	:host(.focus) .mmx-pcinet-button__pill {
		outline: 2px solid var(--mmx-pcinet-color-focus);
	}


/* Theme: Dark
   =========================================== */
.mmx-pcinet-button__dark-primary,
.mmx-pcinet-button__dark-secondary:hover,
:host(.hover) .mmx-pcinet-button__dark-secondary {
	background: var(--mmx-pcinet-color-primary-bg);
	border-color: var(--mmx-pcinet-color-primary-bg);
	color: var(--mmx-pcinet-color-primary-text);
}

	.mmx-pcinet-button__dark-primary:hover,
	:host(.hover) .mmx-pcinet-button__dark-primary,
	.mmx-pcinet-button__dark-secondary {
		background: transparent;
		border-color: var(--mmx-pcinet-color-primary-bg);
		color: var(--mmx-pcinet-color-primary-bg);
	}

	.mmx-pcinet-button__dark-primary:disabled,
	:host(.disabled) .mmx-pcinet-button__dark-primary {
		background: #CCCCCC;
		border-color: #CCCCCC;
		color: var(--mmx-pcinet-color-primary-bg);
	}

	.mmx-pcinet-button__dark-secondary:disabled,
	:host(.disabled) .mmx-pcinet-button__dark-secondary {
		background: transparent;
		border-color: var(--mmx-pcinet-color-secondary-disabled-border);
		color: var(--mmx-pcinet-color-secondary-disabled-text);
	}

/* Style: Pill
   =========================================== */
.mmx-pcinet-button__pill {
	background: var(--mmx-pcinet-color-pill-bg);
	border: none;
	border-radius: 1em;
	color: var(--mmx-pcinet-color-pill-text);
	padding: 0.25em 1em;
	text-decoration: none;
	vertical-align: middle;
	transition: box-shadow .25s ease;
	margin: 0.3em 0.1em;
}

.mmx-pcinet-button__pill:hover,
:host(.hover) .mmx-pcinet-button__pill {
	background: color-mix(in srgb, var(--mmx-pcinet-color-pill-bg), var(--mmx-pcinet-color-white) 30%);
	box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.15);
}

.mmx-pcinet-button__pill:disabled,
:host(.disabled) .mmx-pcinet-button__pill {
	opacity: 0.5;
}

/* Style: Display Link
   =========================================== */
.mmx-pcinet-button__display-link,
.mmx-pcinet-button__dark-display-link {
	font-weight: bold;
	font-size: 14px;
	text-decoration-thickness: 2px;
}

	.mmx-pcinet-button__display-link:hover,
	:host(.hover) .mmx-pcinet-button__display-link,
	.mmx-pcinet-button__dark-display-link:hover,
	:host(.hover) .mmx-pcinet-button__dark-display-link {
		text-decoration-thickness: 3px;
	}


/* Style: Primary Link
   =========================================== */
.mmx-pcinet-button__primary-link,
.mmx-pcinet-button__dark-primary-link {
	font-size: 13px;
}


/* Style: Secondary Link
   =========================================== */
.mmx-pcinet-button__secondary-link,
.mmx-pcinet-button__dark-secondary-link {
	text-underline-offset: 2px;
}

.mmx-pcinet-button__secondary-link {
	color: var(--mmx-pcinet-color-secondary-link);
}

/* Sizes
   =========================================== */
.mmx-pcinet-button__size--xs {
	font-size: 11px;
}

.mmx-pcinet-button__button.mmx-pcinet-button__size--xs {
	padding: 12px 14px;
}

.mmx-pcinet-button__link.mmx-pcinet-button__size--s {
	font-size: 12px;
}

.mmx-pcinet-button__button.mmx-pcinet-button__size--s {
	font-size: 13px;
	padding: 15px 20px;
}

.mmx-pcinet-button__button,
.mmx-pcinet-button__size--m {
	font-size: 13px;
}

.mmx-pcinet-button__button,
.mmx-pcinet-button__button.mmx-pcinet-button__size--m {
	padding: 19px 32px;
}

.mmx-pcinet-button__size--l {
	font-size: 16px;
}

.mmx-pcinet-button__button.mmx-pcinet-button__size--l {
	padding: 22px 38px;
}

/* Shape: Round
   =========================================== */
.mmx-pcinet-button.mmx-pcinet-button__shape--round {
	border-radius: 100%;
	height: 3em;
	line-height: 3em;
	padding: 0;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	width: 3em;
}
	.mmx-pcinet-button__link.mmx-pcinet-button__shape--round:hover,
	:host(.hover) .mmx-pcinet-button__link.mmx-pcinet-button__shape--round{
		background: color-mix(in srgb, var(--mmx-pcinet-color-primary-bg) 5%, var(--mmx-pcinet-color-primary-text));
	}