/* ==========================================================================
   MMX PCINET / COMBINATION FACET
   ========================================================================== */

.mmx-pcinet-combination-facet {
	--mmx-pcinet-combination-facet--control-height: calc(var(--mmx-pcinet-combination-facet--size) * 3);
	--mmx-pcinet-combination-facet--size: 16px;
	--mmx-pcinet-combination-facet--dialog-close-size: 32px;
}

.mmx-pcinet-combination-facet slot[name="title"]::slotted(*) {
	margin: 0 auto var(--mmx-pcinet-combination-facet--size);
	text-align: var(--mmx-pcinet-combination-facet--text-align);
}

.mmx-pcinet-combination-facet slot[name="title"]::slotted(*:last-child) {
	margin-bottom: calc(var(--mmx-pcinet-combination-facet--size) * 2);
}

.mmx-pcinet-combination-facet__form {
	align-items: center;
	background-color: var(--mmx-pcinet-combination-facet--controls-background-color);
	border-radius: var(--mmx-pcinet-combination-facet--controls-border-radius);
	border: 1px solid #DCDAE2;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
	display: flex;
	flex-wrap: wrap;
	gap: var(--mmx-pcinet-combination-facet--size);
	max-width: 1000px;
	margin: 0 auto;
	padding: 5% 4%;
}

.mmx-pcinet-combination-facet__form-loading {
	visibility: hidden;
}

.mmx-pcinet-combination-facet__fields {
	display: flex;
	width: 100%;
	flex-grow: 1;
	align-items: center;
	flex-wrap: wrap;
	gap: var(--mmx-pcinet-combination-facet--size);
}

.mmx-pcinet-combination-facet__loading {
	height: var(--mmx-pcinet-combination-facet--control-height);
}

.mmx-pcinet-combination-facet__message {
	text-align: var(--mmx-pcinet-combination-facet--text-align);
}

.mmx-pcinet-combination-facet__label {
	--mmx-pcinet-text-margin-bottom: 0;

	flex-basis: 100%;
	text-align: center;
}

.mmx-pcinet-combination-facet__label,
.mmx-pcinet-combination-facet__submit {
	flex-grow: 1;
}

.mmx-pcinet-combination-facet__submit {
	box-shadow: 0px 1px 3px 0px rgba(47, 43, 67, 0.10), 0px -1px 0px 0px rgba(47, 43, 67, 0.10) inset;
	border-radius: 12px;
}

.mmx-pcinet-combination-facet__dropdown,
.mmx-pcinet-combination-facet__message,
.mmx-pcinet-combination-facet__loading {
	flex-grow: 1;
	position: relative;
	width: 100%;
}

.mmx-pcinet-combination-facet__dropdown::after {
	display: none;

	border-color: var(--mmx-pcinet-color-input-color);
	border-style: solid;
	border-width: 0 2px 2px 0;
	content: "";
	height: 0.5em;
	margin-bottom: 0.25em;
	pointer-events: none;
	position: absolute;
	right: 1em;
	top: 50%;
	transform: translateY(-50%) rotate(45deg);
	width: 0.5em;
}

.mmx-pcinet-combination-facet__dropdown-select {
	appearance: none;
	background-color: var(--mmx-pcinet-color-input-background);
	border: 1px solid var(--mmx-pcinet-color-input-border);
	/* border-radius: calc(var(--mmx-pcinet-combination-facet--size) * 0.25); */
	border-radius: 12px;
	/* box-shadow: 0 0 0 0 rgba(var(--mmx-pcinet-color-black), 0.2); */
	box-shadow: 0px 1px 3px 0px rgba(47, 43, 67, 0.10), 0px -1px 0px 0px rgba(47, 43, 67, 0.10) inset;
	color: var(--mmx-pcinet-color-input-color);
	cursor: pointer;
	font-family: inherit;
	font-size: inherit;
	height: var(--mmx-pcinet-combination-facet--control-height);
	/* padding-left: calc(var(--mmx-pcinet-combination-facet--size) * 0.5); */
	padding-left: calc(var(--mmx-pcinet-combination-facet--size) * 0.75);
	/* padding-left: calc(var(--mmx-pcinet-combination-facet--size) * 0.5); */
	padding-right: calc(var(--mmx-pcinet-combination-facet--size) * 0.75);
	transition: box-shadow 0.25s ease, border-color 0.25s ease;
	width: 100%;
}

.mmx-pcinet-combination-facet__dropdown-select option {
	color: initial;
}

.mmx-pcinet-combination-facet__dropdown-select:is(:disabled, [aria-disabled="true"], .ss-disabled) {
	/* background-color: var(--mmx-pcinet-color-input-background); */
	cursor: not-allowed;
	opacity: 1;
}

.mmx-pcinet-combination-facet__dropdown-select:focus:not(:focus-visible) {
	outline: none;
}

.mmx-pcinet-combination-facet__dropdown-select:focus-visible {
	outline: 2px solid var(--mmx-pcinet-color-focus);
	outline-offset: 1px;
	transition: none;
}

.mmx-pcinet-combination-facet__submit:not([data-style*="link"])::part(button) {
	height: var(--mmx-pcinet-combination-facet--control-height);
	line-height: var(--mmx-pcinet-combination-facet--control-height);
	padding-bottom: 0;
	padding-top: 0;
}

/* Desktop Layout */
@media (min-width: 60em) {
	.mmx-pcinet-combination-facet__form {
		flex-wrap: nowrap;
		padding: var(--mmx-pcinet-combination-facet--controls-padding);
	}

	:not(.mmx-pcinet-combination-facet__application-add-dialog) .mmx-pcinet-combination-facet__fields,
	:not(.mmx-pcinet-combination-facet__application-edit-dialog) .mmx-pcinet-combination-facet__fields {
		flex-wrap: nowrap;
	}

	.mmx-pcinet-combination-facet__label,
	.mmx-pcinet-combination-facet__submit {
		flex-basis: auto;
		flex-shrink: 0;
	}
}

/* Input Sizes */
.mmx-pcinet-combination-facet--size-s {
	--mmx-pcinet-combination-facet--size: 0.75rem;
}

.mmx-pcinet-combination-facet--size-l {
	--mmx-pcinet-combination-facet--size: 1.25rem;
}

/* Application Styles */

.mmx-pcinet-combination-facet__application-select {
	display: flex;
	flex-basis: 100%;
	width: 100%;
	align-items: center;
	appearance: none;
	background-color: var(--mmx-pcinet-color-input-background);
	border: 1px solid var(--mmx-pcinet-color-input-border);
	/* border-radius: calc(var(--mmx-pcinet-combination-facet--size) * 0.25); */
	border-radius: 12px;
	/* box-shadow: 0 0 0 0 rgba(var(--mmx-pcinet-color-black), 0.2); */
	box-shadow: 0px 1px 3px 0px rgba(47, 43, 67, 0.10), 0px -1px 0px 0px rgba(47, 43, 67, 0.10) inset;
	color: var(--mmx-pcinet-color-input-color);
	cursor: pointer;
	font-size: inherit;
	height: var(--mmx-pcinet-combination-facet--control-height);
	padding-left: calc(var(--mmx-pcinet-combination-facet--size) * 0.75);
	padding-right: calc(var(--mmx-pcinet-combination-facet--size) * 0.75);
	transition: box-shadow 0.25s ease, border-color 0.25s ease;
	user-select: none;
}

.mmx-pcinet-combination-facet__application-select-title {
	display: inline-flex;
	align-items: center;
	width: 0;
	flex-grow: 1;
}

/* Desktop Layout */
@media (min-width: 60em) {
	.mmx-pcinet-combination-facet__form.mmx-pcinet-combination-facet__form-application {
		position: relative;
		margin-left: auto;
		margin-right: auto;
		width: var(--mmx-pcinet-combination-facet--application-width);
	}
}

.mmx-pcinet-combination-facet__dialog-application-select-label {
	--mmx-pcinet-text-margin-bottom: 0;

	flex-shrink: 0;
	margin-right: 13px;
}

.mmx-pcinet-combination-facet__application-select-text {
	margin-right: 25px;
	width: 0;
	flex-grow: 1;
	font-size: 13px;
	line-height: 20px;
	color: var(--mmx-pcinet-color-form-labels);
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.mmx-pcinet-combination-facet__application-select-toggle {
	display: inline-block;
	margin: 0 8px;
	line-height: 0;
	flex-shrink: 0;
}

.mmx-pcinet-combination-facet__application-select-menu {
	position: absolute;
	top: 100%;
	left: 0;
	display: none;
	padding: 0;
	background-color: var(--mmx-pcinet-color-white);
	color: var(--mmx-pcinet-color-input-color);
	border: 1px solid var(--mmx-pcinet-color-input-border);
	/* border-radius: calc(var(--mmx-pcinet-combination-facet--size) * 0.25); */
	border-radius: 12px;
	/* box-shadow: 0 3px 25px rgba(var(--mmx-pcinet-color-black), 0.05); */
	box-shadow: 0px 1px 3px 0px rgba(47, 43, 67, 0.10), 0px -1px 0px 0px rgba(47, 43, 67, 0.10) inset;
	flex-direction: column;
	user-select: none;
}

.mmx-pcinet-combination-facet__content-theme-dark .mmx-pcinet-combination-facet__application-select-menu {
	background-color: var(--mmx-pcinet-combination-facet--application-select-menu-background-color);
}

.mmx-pcinet-combination-facet__application-select-menu:popover-open {
	display: flex;
	inset: unset;
}

.mmx-pcinet-combination-facet__application-select-menu-title {
	display: flex;
	height: calc(var(--mmx-pcinet-combination-facet--control-height) - 2px);
	padding-left: calc(var(--mmx-pcinet-combination-facet--size) * 0.5);
	padding-right: calc(var(--mmx-pcinet-combination-facet--size) * 0.5);
	align-items: center;
	text-decoration: none;
}

.mmx-pcinet-combination-facet__application-select-menu-title-text {
	margin-right: 25px;
	width: 0;
	flex-grow: 1;
	font-size: 13px;
	line-height: 20px;
	color: var(--mmx-pcinet-color-form-labels);
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.mmx-pcinet-combination-facet__application-select-menu-title-toggle {
	display: inline-block;
	margin-right: 8px;
	line-height: 0;
}

.mmx-pcinet-combination-facet__application-select-menu-option {
	display: flex;
	margin: 0 calc(var(--mmx-pcinet-combination-facet--size) * 0.5);
	padding: 18px 16px;
	align-items: flex-start;
	border-radius: calc(var(--mmx-pcinet-combination-facet--size)* 0.25);
}

.mmx-pcinet-combination-facet__application-select-menu-option.selected {
	background-color: #f5f5f5;
}

.mmx-pcinet-combination-facet__content-theme-dark .mmx-pcinet-combination-facet__application-select-menu-option.selected {
	background-color: var(--mmx-pcinet-color-primary-bg);
	color: var(--mmx-pcinet-color-primary-text);
}

.mmx-pcinet-combination-facet__application-select-menu-option-radio {
	display: inline-flex;
	flex-grow: 1;
	cursor: pointer;
}

.mmx-pcinet-combination-facet__application-select-menu-option-radio .mmx-pcinet-form-radio-caption::before {
	margin-top: 3px;
}

.mmx-pcinet-combination-facet__application-select-menu-option-radio .mmx-pcinet-form-radio-input:checked + .mmx-pcinet-form-radio-caption::after {
	top: 11px;
}

.mmx-pcinet-combination-facet__application-select-menu-option-radio .mmx-pcinet-combination-facet__application-select-menu-option-name {
	white-space: normal;
	word-break: break-word;
	align-items: flex-start;
}

.mmx-pcinet-combination-facet__application-select-menu-option-radio:hover .mmx-pcinet-combination-facet__application-select-menu-option-name {
	text-decoration: underline;
}

.mmx-pcinet-combination-facet__application-select-menu-option-edit-button {
	display: inline-flex;
	margin: 3px 0 0 20px;
	align-items: center;
	flex-shrink: 0;
}

.mmx-pcinet-combination-facet__application-select-menu-option-edit-button::part(button) {
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
	padding: 0;
}

.mmx-pcinet-combination-facet__content-theme-dark .mmx-pcinet-combination-facet__application-select-menu-option.selected .mmx-pcinet-combination-facet__application-select-menu-option-edit-button::part(button) {
	color: var(--mmx-pcinet-color-primary-text);
}

.mmx-pcinet-combination-facet__application-select-menu-option-delete-button {
	display: inline-flex;
	margin: 3px 0 0 20px;
	align-items: center;
	flex-shrink: 0;
	line-height: 0;
}

.mmx-pcinet-combination-facet__application-select-menu-option-delete-button::part(button) {
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
}

.mmx-pcinet-combination-facet__content-theme-dark .mmx-pcinet-combination-facet__application-select-menu-option.selected .mmx-pcinet-combination-facet__application-select-menu-option-delete-button::part(button) {
	color: var(--mmx-pcinet-color-primary-text);
}

.mmx-pcinet-combination-facet__application-select-menu-divider {
	margin: 10px calc(var(--mmx-pcinet-combination-facet--size) * 0.5) 4px;
	flex-shrink: 0;
	height: 1px;
	background-color: var(--mmx-pcinet-color-input-border);
}

.mmx-pcinet-combination-facet__application-select-menu-add-link {
	display: flex;
	margin: 0 calc(var(--mmx-pcinet-combination-facet--size) * 0.5) 16px;
	padding: 18px 16px;
	align-items: center;
	border-radius: calc(var(--mmx-pcinet-combination-facet--size)* 0.25);
	text-decoration: none;
	font-weight: medium;
}

.mmx-pcinet-combination-facet__application-select-menu-add-link::part(button) {
	display: flex;
	width: 100%;
	height: 100%;
	text-align: left;
	align-items: center;
}

.mmx-pcinet-combination-facet__application-select-menu-add-link mmx-pcinet-icon {
	line-height: 0;
}

.mmx-pcinet-combination-facet__application-select-menu-add-link-icon {
	margin-right: 8px;
}

/* Dialog
  =========================================== */

.mmx-pcinet-combination-facet__application-add-dialog,
.mmx-pcinet-combination-facet__application-edit-dialog {
	min-width: calc(100% - 40px);
	border-radius: var(--mmx-pcinet-spacing-s);
	border: 0;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
	outline: 0;
	padding: var(--mmx-pcinet-spacing-m);
	background-color: var(--mmx-pcinet-color-modal-dialog-background);
}

@media screen and (min-width: 40em) {
	.mmx-pcinet-combination-facet__application-add-dialog,
	.mmx-pcinet-combination-facet__application-edit-dialog {
		min-width: 400px;
	}
}

.mmx-pcinet-combination-facet__application-add-dialog-heading,
.mmx-pcinet-combination-facet__application-edit-dialog-heading {
	margin-bottom: 40px;
}

.mmx-pcinet-combination-facet__application-edit-dialog .mmx-pcinet-combination-facet__fields,
.mmx-pcinet-combination-facet__application-add-dialog .mmx-pcinet-combination-facet__fields {
	display: flex;
	width: 100%;
	flex-grow: 1;
	align-items: center;
	flex-wrap: wrap;
	gap: var(--mmx-pcinet-combination-facet--size);
}

.mmx-pcinet-combination-facet__application-add-dialog-name-input,
.mmx-pcinet-combination-facet__application-edit-dialog-name-input {
	border-radius: 12px;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}

.mmx-pcinet-combination-facet__application-add-dialog-name-input,
.mmx-pcinet-combination-facet__application-edit-dialog-name-input {
	margin-bottom: var(--mmx-pcinet-combination-facet--size);
}

.mmx-pcinet-combination-facet__application-add-dialog-save,
.mmx-pcinet-combination-facet__application-edit-dialog-save {
	width: 100%;
	margin-top: 24px;
}

.mmx-pcinet-combination-facet__application-add-dialog-close,
.mmx-pcinet-combination-facet__application-edit-dialog-close {
	background: none;
	border: 0;
	cursor: pointer;
	padding: 0;
	position: absolute;
	right: var(--mmx-pcinet-spacing-m);
	top: var(--mmx-pcinet-spacing-m);
	border-radius: 100%;
	color: var(--mmx-pcinet-color-modal-dialog-close);
	opacity: 0.8;
	width: var(--mmx-pcinet-combination-facet--dialog-close-size);
	height: var(--mmx-pcinet-combination-facet--dialog-close-size);
}

.mmx-pcinet-combination-facet__application-add-dialog-close:hover,
.mmx-pcinet-combination-facet__application-add-dialog-close:focus,
.mmx-pcinet-combination-facet__application-edit-dialog-close:hover,
.mmx-pcinet-combination-facet__application-edit-dialog-close:focus {
	opacity: 1;
}

.mmx-pcinet-combination-facet__application-add-dialog-close-icon,
.mmx-pcinet-combination-facet__application-edit-dialog-close-icon {
	line-height: 0;
	font-size: var(--mmx-pcinet-combination-facet--dialog-close-size);
}

.mmx-pcinet-combination-facet__application-add-dialog::backdrop,
.mmx-pcinet-combination-facet__application-edit-dialog::backdrop {
	background: var(--mmx-pcinet-color-modal-backdrop-background);
}
