/* ==========================================================================
   MMX PCINET / HERO
   ========================================================================== */
:host {
	display: var(--mmx-pcinet-hero__display, inline-block);
	width: 100%;
}

.mmx-pcinet-hero {
	display: flex;
	position: relative;
	overflow: hidden;
	text-align: var(--mmx-pcinet-hero__text-align);
	text-decoration: none;
	flex-direction: column;
	max-width: var(--mmx-pcinet-hero__max-width);
	margin-left: auto;
    margin-right: auto;
}

.mmx-pcinet-hero--content-is-above-image {
	flex-direction: column-reverse;
}

/* Background (i.e. Image, Video, Iframe, etc.)
   =========================================== */

.mmx-pcinet-hero__image-container {
	display: flex;
	justify-items: center;
	align-items: center;
	height: var(--mmx-pcinet-hero__max-height);
	overflow: hidden;
	position: relative;
}

.mmx-pcinet-hero__image-container::after {
	content: '';
	background: none;
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
}

.mmx-pcinet-hero:not(.mmx-pcinet-hero--layout-hero) .mmx-pcinet-hero__image-container::after {
	background: var(--mmx-pcinet-hero__overlay-bg);
}

.mmx-pcinet-hero__image-container > *,
.mmx-pcinet-hero__image-container > picture img,
slot[name="image"]::slotted(*) {
	user-select: none;
	object-position: center;
	height: 100%;
	width: 100%;
	object-fit: var(--mmx-pcinet-hero__object-fit);
	aspect-ratio: var(--mmx-pcinet-hero__aspect-ratio);
}

/* Replicate object-fit: cover With Iframed Videos (ex YouTube & Vimeo)
   =========================================== */

.mmx-pcinet-hero {
  --mmx-pcinet-hero__iframe-width: 100vw;
  --mmx-pcinet-hero__iframe-height: 100vh;
}

.mmx-pcinet-hero:is(.mmx-pcinet-hero--size-method--preset) .mmx-pcinet-hero__image-container > iframe,
.mmx-pcinet-hero:is(.mmx-pcinet-hero--size-method--preset) .mmx-pcinet-hero__image-container slot[name="image"]::slotted(iframe) {
	max-inline-size: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	width: var(--mmx-pcinet-hero__iframe-width);
	height: var(--mmx-pcinet-hero__iframe-height);
	transform: translate(-50%, -50%);
}

.mmx-pcinet-hero:is(.mmx-pcinet-hero--size-method--dimensions) .mmx-pcinet-hero__image-container {
	aspect-ratio: var(--mmx-pcinet-hero__iframe-width) / var(--mmx-pcinet-hero__iframe-height);
	height: auto;
	max-height: var(--mmx-pcinet-hero__max-height);
}

/* Foreground / Content
   =========================================== */

.mmx-pcinet-hero__content-bg {
	width: 100%;
	height: 100%;
	display: flex;
	pointer-events: none;
}

.mmx-pcinet-hero__content-wrapper {
	width: 100%;
	display: flex;
	align-items: stretch;
	justify-content: center;
	pointer-events: none;
}

.mmx-pcinet-hero__content {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: var(--mmx-pcinet-hero__content-margin);
	padding: var(--mmx-pcinet-hero__content-padding);
	background: var(--mmx-pcinet-hero__content-bg-color--mobile);
	min-height: var(--mmx-pcinet-hero__content-height);
	pointer-events: auto;
}

.mmx-pcinet-hero--content-is-over-image .mmx-pcinet-hero__content {
	margin: var(--mmx-pcinet-hero__content-margin--hero-slide, var(--mmx-pcinet-hero__content-margin));
}

.mmx-pcinet-hero__content > *,
slot[name="content"]::slotted(*) {
	flex-basis: 100%;
	flex-grow: 1;
	width: auto;
}

.mmx-pcinet-hero__content > *:not(slot):empty {
	display: none;
}


/* Content Text Margins
   =========================================== */
::slotted(mmx-pcinet-text:last-of-type),
.mmx-pcinet-hero__rendered-content mmx-pcinet-text:last-of-type {
	--mmx-text-margin-bottom: 0;
}

slot + slot[name="button"],
.mmx-pcinet-hero__rendered-content mmx-pcinet-text + mmx-pcinet-button,
[slot="content"] mmx-pcinet-text + mmx-pcinet-button {
	display: block;
	margin-top: 18px;
}


/* Main Styles for Desktop
   =========================================== */
@media (min-width: 60em) {
	.mmx-pcinet-hero__image-container::after {
		background: var(--mmx-pcinet-hero__overlay-bg);
	}

	mmx-pcinet-text[data-style^="subheading"],
	::slotted([data-style^="subheading"]) {
		--mmx-text-margin-bottom: 10px;
	}

	.mmx-pcinet-hero__content {
		background: var(--mmx-pcinet-hero__content-bg-color--desktop);
		border-radius: 4px;
		width: var(--mmx-pcinet-hero__content-width);
		flex-wrap: wrap;
	}

	.mmx-hero--content-theme-invert.mmx-hero--content-is-over-image .mmx-hero__content,
	.mmx-pcinet-hero--content-theme-invert.mmx-pcinet-hero--content-is-next-to-image .mmx-pcinet-hero__content-bg,
	.mmx-pcinet-hero--content-theme-invert.mmx-pcinet-hero--content-is-under-image .mmx-pcinet-hero__content-bg {
		filter: invert(100%);
	}

	.mmx-hero__content-bg--top-left,
	.mmx-pcinet-hero__content-bg--top-center,
	.mmx-pcinet-hero__content-bg--top-right,
	.mmx-pcinet-hero__content-bg--center-left,
	.mmx-pcinet-hero__content-bg--center,
	.mmx-pcinet-hero__content-bg--center-right,
	.mmx-pcinet-hero__content-bg--bottom-left,
	.mmx-pcinet-hero__content-bg--bottom-center,
	.mmx-pcinet-hero__content-bg--bottom-right {
		display: flex;
		position: absolute;
		top: 0;
	}

	.mmx-pcinet-hero__content-bg--top-left .mmx-pcinet-hero__content-wrapper {
		justify-content: start;
		align-items: start;
	}

	.mmx-pcinet-hero__content-bg--top-center .mmx-pcinet-hero__content-wrapper {
		justify-content: center;
		align-items: start;
	}

	.mmx-pcinet-hero__content-bg--top-right .mmx-pcinet-hero__content-wrapper {
		justify-content: end;
		align-items: start;
	}

	.mmx-pcinet-hero__content-bg--center-left .mmx-pcinet-hero__content-wrapper {
		justify-content: start;
		align-items: center;
	}

	.mmx-pcinet-hero__content-bg--center .mmx-pcinet-hero__content-wrapper {
		justify-content: center;
		align-items: center;
	}

	.mmx-pcinet-hero__content-bg--center-right .mmx-pcinet-hero__content-wrapper {
		justify-content: end;
		align-items: center;
	}

	.mmx-pcinet-hero__content-bg--bottom-left .mmx-pcinet-hero__content-wrapper {
		justify-content: start;
		align-items: end;
	}

	.mmx-pcinet-hero__content-bg--bottom-center .mmx-pcinet-hero__content-wrapper {
		justify-content: center;
		align-items: end;
	}

	.mmx-pcinet-hero__content-bg--bottom-right .mmx-pcinet-hero__content-wrapper {
		justify-content: end;
		align-items: end;
	}

	.mmx-pcinet-hero__content-bg--under {
		position: static;
	}

	.mmx-pcinet-hero--content-is-next-to-image {
		display: grid;
		grid-template-columns: var(--mmx-pcinet-hero__grid-template-columns);
		gap: 0;
	}

	.mmx-pcinet-hero--content-is-next-to-image .mmx-pcinet-hero__content-bg--left {
		order: -1;
	}

	.mmx-pcinet-hero--content-is-next-to-image .mmx-pcinet-hero__content {
		width: 100%;
	}
}


/* Size: Content
   =========================================== */
.mmx-pcinet-hero--size--content {
	overflow: visible;
}

.mmx-pcinet-hero--size--content .mmx-pcinet-hero__image-container {
	height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.mmx-pcinet-hero--size--content .mmx-pcinet-hero__content-bg {
	position: static;
}


/* Responsive Heights for Mobile
   =========================================== */
.mmx-pcinet-hero--size--l .mmx-pcinet-hero__image-container {
	height: var(--mmx-pcinet-hero--size--l, 400px);
}

.mmx-pcinet-hero--size--m .mmx-pcinet-hero__image-container {
	height: var(--mmx-pcinet-hero--size--m, 320px);
}

.mmx-pcinet-hero--size--s .mmx-pcinet-hero__image-container {
	height: var(--mmx-pcinet-hero--size--s, 240px);
}


/* Responsive Heights for Desktop
   =========================================== */
@media screen and (min-width: 60em) {
	.mmx-pcinet-hero--size--l .mmx-pcinet-hero__image-container,
	.mmx-pcinet-hero--size--l.mmx-pcinet-hero--content-is-next-to-image {
		height: var(--mmx-pcinet-hero--size--l, 740px);
	}

	.mmx-pcinet-hero--size--m .mmx-pcinet-hero__image-container,
	.mmx-pcinet-hero--size--m.mmx-pcinet-hero--content-is-next-to-image {
		height: var(--mmx-pcinet-hero--size--m, 580px);
	}

	.mmx-pcinet-hero--size--s .mmx-pcinet-hero__image-container,
	.mmx-pcinet-hero--size--s.mmx-pcinet-hero--content-is-next-to-image {
		height: var(--mmx-pcinet-hero--size--s, 400px);
	}
}

/* Content Layout: Horizontal
   =========================================== */
.mmx-pcinet-hero--layout-horizontal-banner {
	text-align: center;
}

@media screen and (min-width: 60em) {
	.mmx-pcinet-hero--layout-horizontal-banner {
		text-align: var(--mmx-pcinet-hero__text-align);
	}

	.mmx-pcinet-hero--layout-horizontal-banner .mmx-pcinet-hero__content {
		--mmx-pcinet-text-margin-bottom: 0;
	}

	.mmx-pcinet-hero--layout-horizontal-banner .mmx-pcinet-hero__individual-content {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 20px;
	}

	.mmx-pcinet-hero--layout-horizontal-banner.mmx-pcinet-hero--padding-m .mmx-pcinet-hero__individual-content {
		gap: 40px;
	}

	.mmx-pcinet-hero--layout-horizontal-banner.mmx-pcinet-hero--padding-l .mmx-pcinet-hero__individual-content {
		gap: 60px;
	}

	.mmx-pcinet-hero--layout-horizontal-banner .mmx-pcinet-hero__individual-content slot[name="heading"],
	.mmx-pcinet-hero--layout-horizontal-banner .mmx-pcinet-hero__individual-content slot[name="body"] {
		display: block;
	}

	.mmx-pcinet-hero--layout-horizontal-banner .mmx-pcinet-hero__individual-content slot[name="body"]::slotted(*) {
		max-width: 600px;
	}

	.mmx-pcinet-hero--layout-horizontal-banner .mmx-pcinet-hero__individual-content slot[name="button"] {
		flex-shrink: 0;
		margin-top: 0;
		max-width: max(240px, 20%);
	}
}

/* Content Layout: Vertical
   =========================================== */
.mmx-pcinet-hero--layout-vertical-banner .mmx-pcinet-hero__individual-content slot[name="heading"]::slotted(*) {
	margin: 0 auto;
	max-width: 1000px;
}

.mmx-pcinet-hero--layout-vertical-banner .mmx-pcinet-hero__individual-content slot[name="body"]::slotted(*) {
	margin: 0 auto;
	max-width: 800px;
}

/* Content Layout: Video
   =========================================== */
.mmx-pcinet-hero--layout-video .mmx-pcinet-hero__image-container {
	position: relative;
}

.mmx-pcinet-video-placeholder {
	align-items: center;
	background: var(--mmx-pcinet-color-grey-03);
	display: flex;
	justify-content: center;
}

.mmx-pcinet-video-placeholder__icon {
    align-items: center;
    background: var(--mmx-pcinet-color-black);
    border-radius: 100%;
    color: var(--mmx-pcinet-color-white);
    display: flex;
	font-size: 1.5rem;
    height: 6rem;
    justify-content: center;
    opacity: 0.5;
	padding-left: 0.25rem;
    text-align: center;
    width: 6rem;
}

/* Hero > Product Card Styles
   =========================================== */
:host .type-product-prices {
	margin-top: 6px;
}

:host .type-product-additional-price {
	margin-left: min(10%, 17px);
}

:host mmx-pcinet-button {
	display: block;
	margin-top: 14px;
}

/* Content Margin & Padding
   =========================================== */

/* Mobile / Default */
.mmx-pcinet-hero {
	--mmx-pcinet-hero__content-margin: 0;
	--mmx-pcinet-hero__content-padding: 15px 0 30px 0;
}

.mmx-pcinet-hero--mobile-no-bg,
.mmx-pcinet-hero--content-is-under-image {
	--mmx-pcinet-hero__content-margin: 0;
	--mmx-pcinet-hero__content-padding: 15px 0;
}

.mmx-pcinet-hero--mobile-has-bg,
.mmx-pcinet-hero--size--content {
	--mmx-pcinet-hero__content-margin: 0;
	--mmx-pcinet-hero__content-padding: 15px 20px 30px 20px;
}

@media screen and (min-width: 60em) {
	.mmx-pcinet-hero--desktop-has-bg,
	.mmx-pcinet-hero--size--content {
		--mmx-pcinet-hero__content-margin: 0;
		--mmx-pcinet-hero__content-padding: 1% 1.5% 2% 1.5%;
	}
}

/* Over Image */
@media screen and (min-width: 60em) {
	.mmx-pcinet-hero--content-is-over-image {
		--mmx-pcinet-hero__content-margin: 2.5% 3.5%;
		--mmx-pcinet-hero__content-padding: 0;
	}

	.mmx-pcinet-hero--content-is-over-image.mmx-pcinet-hero--desktop-has-bg {
		--mmx-pcinet-hero__content-margin: 2.5% 3.5%;
		--mmx-pcinet-hero__content-padding: 3%;
	}
}

@media screen and (min-width: 75em) {
	.mmx-pcinet-hero--content-is-over-image {
		--mmx-pcinet-hero__content-margin: max(32px, 3.5%) 4.5%;
		--mmx-pcinet-hero__content-padding: 0;
	}
}

/* Above Image */
.mmx-pcinet-hero--content-is-above-image {
	--mmx-pcinet-hero__content-margin: 0;
	--mmx-pcinet-hero__content-padding: 0 0 2% 0;
}

.mmx-pcinet-hero--content-is-above-image.mmx-pcinet-hero--mobile-has-bg {
	--mmx-pcinet-hero__content-margin: 0;
	--mmx-pcinet-hero__content-padding: 15px 20px 30px 20px;
}

@media screen and (min-width: 60em) {
	.mmx-pcinet-hero--content-is-above-image.mmx-pcinet-hero--desktop-has-bg {
		--mmx-pcinet-hero__content-margin: 0;
		--mmx-pcinet-hero__content-padding: 1% 1.5% 2% 1.5%;
	}
}

/* Next To Image */
@media screen and (min-width: 60em) {
	.mmx-pcinet-hero--content-is-next-to-image {
		--mmx-pcinet-hero__content-margin: 0;
		--mmx-pcinet-hero__content-padding: 40px clamp(40px, 8%, 80px);
	}
}

@media screen and (min-width: 75em) {
	.mmx-pcinet-hero--content-is-next-to-image {
		--mmx-pcinet-hero__content-margin: 0;
		--mmx-pcinet-hero__content-padding: 40px clamp(40px, 11%, 80px);
	}
}

/* Size: Content */
.mmx-pcinet-hero--size--content:where(.mmx-pcinet-hero--layout-hero.mmx-pcinet-hero--content-is-over-image) {
	--mmx-pcinet-hero__content-margin: 0;
	--mmx-pcinet-hero__content-padding: 3% 1%;
}

@media screen and (min-width: 60em) {
	.mmx-pcinet-hero--size--content:where(.mmx-pcinet-hero--layout-hero.mmx-pcinet-hero--content-is-over-image) {
		--mmx-pcinet-hero__content-margin: 0;
		--mmx-pcinet-hero__content-padding: 3% 4%;
	}
}

@media screen and (min-width: 75em) {
	.mmx-pcinet-hero--size--content:where(.mmx-pcinet-hero--layout-hero.mmx-pcinet-hero--content-is-over-image) {
		--mmx-pcinet-hero__content-margin: 0;
		--mmx-pcinet-hero__content-padding: 6% 0;
	}
}

/* Specific Padding */
.mmx-pcinet-hero--padding-none {
	--mmx-pcinet-hero__content-margin: 0;
	--mmx-pcinet-hero__content-padding: 0;
}

.mmx-pcinet-hero--padding-s {
	--mmx-pcinet-hero__content-margin: 0;
	--mmx-pcinet-hero__content-padding: 1% 4%;
}

.mmx-pcinet-hero--padding-m {
	--mmx-pcinet-hero__content-margin: 0;
	--mmx-pcinet-hero__content-padding: 3% 4%;
}

.mmx-pcinet-hero--padding-l {
	--mmx-pcinet-hero__content-margin: 0;
	--mmx-pcinet-hero__content-padding: 5.5% 4% 6% 4%;
}