/* ==========================================================================
   MMX PCINET / TEXT
   ========================================================================== */


.mmx-pcinet-text {
	padding: 0;
	margin: 0 0 var(--mmx-pcinet-text-margin-bottom) 0;
	text-align: var(--mmx-pcinet-text__text-align, unset);
}

.mmx-pcinet-text__inner {
	display: inline-block;
	max-width: var(--mmx-pcinet-text__inner--max-width, auto);
}

.mmx-pcinet-text__inner > *:first-child {
	margin-top: 0;
}

.mmx-pcinet-text__inner > *:last-child {
	margin-bottom: 0;
}

/* Typography Styles: Base
		=========================================== */
.type-display-1,
.type-display-2,
.type-display-3,
.type-title-1,
.type-title-2,
.type-title-3,
.type-title-4,
.type-subheading-l,
.type-subheading-s,
.type-subheading-xs,
.type-paragraph-l,
.type-paragraph-s,
.type-paragraph-xs,
.type-call-to-action,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote {
	display: block;
	font: inherit;
	padding: var(--mmx-pcinet-text--padding, 0);
	margin: var(--mmx-pcinet-text--margin, 0 0 var(--mmx-pcinet-text-margin-bottom) 0);
}

blockquote {
	border-left: 0.25em solid currentColor;
	padding-left: 1em;
}

ul,
ol {
	margin-left: 0;
	padding-left: 1.25em;
}

a {
	color: inherit;
	text-decoration: underline;
}


/* Typography Styles: Mobile First
		=========================================== */
.type-display-1 {
	color: var(--mmx-pcinet-heading-color);
	font: var(--mmx-pcinet-title-2-font);
	font-size: var(--mmx-pcinet-text--font-size-mobile, var(--mmx-pcinet-title-2-size));
	text-transform: var(--mmx-pcinet-heading-case);
}

.type-display-2,
h1 {
	color: var(--mmx-pcinet-heading-color);
	font: var(--mmx-pcinet-title-2-font);
	font-size: var(--mmx-pcinet-text--font-size-mobile, var(--mmx-pcinet-title-2-size));
	text-transform: var(--mmx-pcinet-heading-case);
}

.type-display-3,
h2 {
	color: var(--mmx-pcinet-heading-color);
	font: var(--mmx-pcinet-title-3-font);
	font-size: var(--mmx-pcinet-text--font-size-mobile, var(--mmx-pcinet-title-3-size));
	text-transform: var(--mmx-pcinet-heading-case);
}

.type-title-1,
h3 {
	color: var(--mmx-pcinet-heading-color);
	font: var(--mmx-pcinet-title-3-font);
	font-size: var(--mmx-pcinet-text--font-size-mobile, var(--mmx-pcinet-title-3-size));
	text-transform: var(--mmx-pcinet-heading-case);
}

.type-title-2,
h4 {
	color: var(--mmx-pcinet-heading-color);
	font: var(--mmx-pcinet-title-3-font);
	font-size: var(--mmx-pcinet-text--font-size-mobile, var(--mmx-pcinet-title-3-size));
	text-transform: var(--mmx-pcinet-heading-case);
}

.type-title-3,
h5 {
	color: var(--mmx-pcinet-heading-color);
	font: var(--mmx-pcinet-title-4-font);
	font-size: var(--mmx-pcinet-text--font-size-mobile, var(--mmx-pcinet-title-4-size));
	text-transform: var(--mmx-pcinet-heading-case);
}

.type-title-4,
h6 {
	color: var(--mmx-pcinet-heading-color);
	font: var(--mmx-pcinet-title-4-font);
	font-size: var(--mmx-pcinet-text--font-size-mobile, var(--mmx-pcinet-title-4-size));
	text-transform: var(--mmx-pcinet-heading-case);
}

.type-subheading-l {
	color: var(--mmx-pcinet-subheading-color);
	font: var(--mmx-pcinet-paragraph-l-font);
	font-size: var(--mmx-pcinet-text--font-size-mobile, var(--mmx-pcinet-paragraph-l-size));
	text-transform: var(--mmx-pcinet-subheading-case);
}

.type-subheading-s {
	color: var(--mmx-pcinet-subheading-color);
	font: var(--mmx-pcinet-paragraph-l-font);
	font-size: var(--mmx-pcinet-text--font-size-mobile, var(--mmx-pcinet-paragraph-l-size));
	text-transform: var(--mmx-pcinet-subheading-case);
}

.type-subheading-xs {
	color: var(--mmx-pcinet-subheading-color);
	font: var(--mmx-pcinet-paragraph-l-font);
	font-size: var(--mmx-pcinet-text--font-size-mobile, var(--mmx-pcinet-paragraph-l-size));
	text-transform: var(--mmx-pcinet-subheading-case);
}

.type-paragraph-l {
	color: var(--mmx-pcinet-paragraph-color);
	font: var(--mmx-pcinet-paragraph-s-font);
	font-size: var(--mmx-pcinet-text--font-size-mobile, var(--mmx-pcinet-paragraph-s-size));
	text-transform: var(--mmx-pcinet-paragraph-case);
}

.type-paragraph-s {
	color: var(--mmx-pcinet-paragraph-color);
	font: var(--mmx-pcinet-paragraph-s-font);
	font-size: var(--mmx-pcinet-text--font-size-mobile, var(--mmx-pcinet-paragraph-s-size));
	text-transform: var(--mmx-pcinet-paragraph-case);
}

.type-paragraph-xs {
	color: var(--mmx-pcinet-paragraph-color);
	font: var(--mmx-pcinet-paragraph-xs-font);
	font-size: var(--mmx-pcinet-text--font-size-mobile, var(--mmx-pcinet-paragraph-xs-size));
	text-transform: var(--mmx-pcinet-paragraph-case);
}

.type-call-to-action {
	color: var(--mmx-pcinet-call-to-action-color);
	font: var(--mmx-pcinet-call-to-action-font);
	font-size: var(--mmx-pcinet-text--font-size-mobile, var(--mmx-pcinet-call-to-action-size));
	text-transform: var(--mmx-pcinet-call-to-action-case);
}

.type-product-name {
	color: var(--mmx-pcinet-product-name-color);
	font: var(--mmx-pcinet-product-name-font);
	font-size: var(--mmx-pcinet-text--font-size-mobile, var(--mmx-pcinet-product-name-size));
	text-transform: var(--mmx-pcinet-product-name-case);
}

.type-product-price {
	color: var(--mmx-pcinet-product-price-color);
	font: var(--mmx-pcinet-product-price-font);
	font-size: var(--mmx-pcinet-text--font-size-mobile, var(--mmx-pcinet-product-price-size));
	text-transform: var(--mmx-pcinet-product-price-case);
}

.type-product-additional-price {
	color: var(--mmx-pcinet-product-additional-price-color);
	font: var(--mmx-pcinet-product-additional-price-font);
	font-size: var(--mmx-pcinet-text--font-size-mobile, var(--mmx-pcinet-product-additional-price-size));
	text-decoration: line-through;
	text-transform: var(--mmx-pcinet-product-additional-price-case);
}


/* Typography Styles: Small Breakpoint [40em = 640px]
		=========================================== */
@media screen and (min-width: 40em) {
	.type-display-1 {
			font: var(--mmx-pcinet-title-1-font);
		font-size: var(--mmx-pcinet-text--font-size-tablet, var(--mmx-pcinet-title-1-size));
	}

	.type-display-2,
	h1 {
		font: var(--mmx-pcinet-title-1-font);
		font-size: var(--mmx-pcinet-text--font-size-tablet, var(--mmx-pcinet-title-1-size));
	}

	.type-display-3,
	h2 {
		font: var(--mmx-pcinet-title-2-font);
		font-size: var(--mmx-pcinet-text--font-size-tablet, var(--mmx-pcinet-title-2-size));
	}

	.type-title-1,
	h3 {
		font: var(--mmx-pcinet-title-3-font);
		font-size: var(--mmx-pcinet-text--font-size-tablet, var(--mmx-pcinet-title-3-size));
	}

	.type-title-2,
	h4 {
		font: var(--mmx-pcinet-title-3-font);
		font-size: var(--mmx-pcinet-text--font-size-tablet, var(--mmx-pcinet-title-3-size));
	}

	.type-title-3,
	h5 {
		font: var(--mmx-pcinet-title-4-font);
		font-size: var(--mmx-pcinet-text--font-size-tablet, var(--mmx-pcinet-title-4-size));
	}

	.type-title-4,
	h6 {
		font: var(--mmx-pcinet-title-4-font);
		font-size: var(--mmx-pcinet-text--font-size-tablet, var(--mmx-pcinet-title-4-size));
	}

	.type-subheading-l {
		font: var(--mmx-pcinet-subheading-s-font);
		font-size: var(--mmx-pcinet-text--font-size-tablet, var(--mmx-pcinet-subheading-s-size));
	}

	.type-subheading-s {
		font: var(--mmx-pcinet-paragraph-l-font);
		font-size: var(--mmx-pcinet-text--font-size-tablet, var(--mmx-pcinet-subheading-s-size));
	}

	.type-subheading-xs {
		font: var(--mmx-pcinet-paragraph-l-font);
		font-size: var(--mmx-pcinet-text--font-size-tablet, var(--mmx-pcinet-subheading-s-size));
	}

	.type-paragraph-l {
		font: var(--mmx-pcinet-paragraph-s-font);
		font-size: var(--mmx-pcinet-text--font-size-tablet, var(--mmx-pcinet-paragraph-s-size));
	}

	.type-paragraph-s {
		font: var(--mmx-pcinet-paragraph-s-font);
		font-size: var(--mmx-pcinet-text--font-size-tablet, var(--mmx-pcinet-paragraph-s-size));
	}

	.type-paragraph-xs {
		font: var(--mmx-pcinet-paragraph-xs-font);
		font-size: var(--mmx-pcinet-text--font-size-tablet, var(--mmx-pcinet-paragraph-xs-size));
	}
}

/* Typography Styles: Large Breakpoint [60em = 960px]
		=========================================== */
@media screen and (min-width: 60em) {
	.type-display-1 {
		font: var(--mmx-pcinet-display-1-font);
		font-size: var(--mmx-pcinet-text--font-size-desktop, var(--mmx-pcinet-display-1-size));
	}

	.type-display-2,
	h1 {
		font: var(--mmx-pcinet-display-2-font);
		font-size: var(--mmx-pcinet-text--font-size-desktop, var(--mmx-pcinet-display-2-size));
	}

	.type-display-3,
	h2 {
		font: var(--mmx-pcinet-display-3-font);
		font-size: var(--mmx-pcinet-text--font-size-desktop, var(--mmx-pcinet-display-3-size));
	}

	.type-title-1,
	h3 {
		font: var(--mmx-pcinet-title-1-font);
		font-size: var(--mmx-pcinet-text--font-size-desktop, var(--mmx-pcinet-title-1-size));
	}

	.type-title-2,
	h4 {
		font: var(--mmx-pcinet-title-2-font);
		font-size: var(--mmx-pcinet-text--font-size-desktop, var(--mmx-pcinet-title-2-size));
	}

	.type-title-3,
	h5 {
		font: var(--mmx-pcinet-title-3-font);
		font-size: var(--mmx-pcinet-text--font-size-desktop, var(--mmx-pcinet-title-3-size));
	}

	.type-title-4,
	h6 {
		font: var(--mmx-pcinet-title-4-font);
		font-size: var(--mmx-pcinet-text--font-size-desktop, var(--mmx-pcinet-title-4-size));
	}

	.type-subheading-l {
		font: var(--mmx-pcinet-subheading-l-font);
		font-size: var(--mmx-pcinet-text--font-size-desktop, var(--mmx-pcinet-subheading-l-size));
	}

	.type-subheading-s {
		font: var(--mmx-pcinet-subheading-s-font);
		font-size: var(--mmx-pcinet-text--font-size-desktop, var(--mmx-pcinet-subheading-s-size));
	}

	.type-subheading-xs {
		font: var(--mmx-pcinet-subheading-xs-font);
		font-size: var(--mmx-pcinet-text--font-size-desktop, var(--mmx-pcinet-subheading-xs-size));
	}

	.type-paragraph-l {
		font: var(--mmx-pcinet-paragraph-l-font);
		font-size: var(--mmx-pcinet-text--font-size-desktop, var(--mmx-pcinet-paragraph-l-size));
	}

	.type-paragraph-s {
		font: var(--mmx-pcinet-paragraph-s-font);
		font-size: var(--mmx-pcinet-text--font-size-desktop, var(--mmx-pcinet-paragraph-s-size));
	}

	.type-paragraph-xs {
		font: var(--mmx-pcinet-paragraph-xs-font);
		font-size: var(--mmx-pcinet-text--font-size-desktop, var(--mmx-pcinet-paragraph-xs-size));
	}
}

/* Markdown Element Styles
   =========================================== */
.mmx-text--styled :where(h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote) {
	color: inherit;
	font: inherit;
	text-transform: inherit;
	margin: var(--mmx-pcinet-markdown-spacing) 0;
}

.mmx-text--styled :where(p, ul, ol, blockquote) {
	margin: calc(3 * var(--mmx-pcinet-markdown-spacing)) 0;
}

.mmx-text--styled :where(li > ul, li > ol) {
	margin: 0;
}