/* ==========================================================================
   MMX PCINET / HERO SLIDER
   ========================================================================== */
:host {
	--mmx-pcinet-hero-slider__per-page: var(--mmx-pcinet-hero-slider__per-page--mobile);
}

/* Responsive Slide Widths for Tablet & Desktop
   =========================================== */
@media screen and (min-width: 40em) {
	:host {
		--mmx-pcinet-hero-slider__per-page: var(--mmx-pcinet-hero-slider__per-page--tablet);
	}
}

@media screen and (min-width: 60em) {
	:host {
		--mmx-pcinet-hero-slider__per-page: var(--mmx-pcinet-hero-slider__per-page--desktop);
	}
}

.mmx-pcinet-hero-slider {
	position: relative;
	display: block;
	text-align: var(--mmx-pcinet-hero-slider__text-align);
}

.mmx-pcinet-hero-slider__slides {
	position: relative;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-align: center;
}

.mmx-pcinet-hero-slider__slides mmx-pcinet-hero,
.mmx-pcinet-hero-slider__slides slot[name="hero_slide"]::slotted(mmx-pcinet-hero) {
	--mmx-pcinet-hero__display: inline-block;
	width: calc(100% / var(--mmx-pcinet-hero-slider__per-page, 1));
	white-space: normal;
	transition: transform 0.3s ease-in-out;
}

.mmx-pcinet-hero-slider__slides mmx-pcinet-hero.notransition,
.mmx-pcinet-hero-slider__slides slot[name="hero_slide"]::slotted(mmx-pcinet-hero.notransition) {
	transition: none;
}

.mmx-pcinet-hero-slider__slides mmx-pcinet-hero:last-child,
.mmx-pcinet-hero-slider__slides slot[name="hero_slide"]:last-child:slotted(mmx-pcinet-hero) {
	margin-right: 0;
}

@media screen and (min-width: 60em) {
	.mmx-pcinet-hero-slider--per-page-1 .mmx-pcinet-hero-slider__slides mmx-pcinet-hero,
	.mmx-pcinet-hero-slider--per-page-1 .mmx-pcinet-hero-slider__slides slot[name="hero_slide"]::slotted(mmx-pcinet-hero) {
		--mmx-pcinet-hero__content-margin--hero-slide: 2.5% calc(52px + var(--mmx-pcinet-spacing-l));
	}
}

.mmx-pcinet-hero-slider__arrow-left,
.mmx-pcinet-hero-slider__arrow-right {
	border: none;
	position: absolute;
	top: 50%;
	display: inline-flex;
	background-color: transparent;
	transform: translateY(-50%);
	cursor: pointer;
	outline: none;
	align-items: center;
	justify-content: center;
}

.mmx-pcinet-hero-slider__arrow-left:disabled,
.mmx-pcinet-hero-slider__arrow-right:disabled {
	cursor: not-allowed;
	opacity: 0.1;
}

/* arrow-style-caret */
.mmx-pcinet-hero-slider--arrow-style-caret .mmx-pcinet-hero-slider__arrow-left,
.mmx-pcinet-hero-slider--arrow-style-caret .mmx-pcinet-hero-slider__arrow-right {
	width: 60px;
	height: 82px;
	padding: 25px 20px;
}

/* Responsive Sizes for Desktop
   =========================================== */

@media screen and (min-width: 60em) {
	.mmx-pcinet-hero-slider--arrow-style-caret .mmx-pcinet-hero-slider__arrow-left,
	.mmx-pcinet-hero-slider--arrow-style-caret .mmx-pcinet-hero-slider__arrow-right {
		width: 84px;
		padding: 25px 32px;
	}
}

.mmx-pcinet-hero-slider--arrow-style-caret .mmx-pcinet-hero-slider__arrow-left {
	left: 0;
}

.mmx-pcinet-hero-slider--arrow-style-caret .mmx-pcinet-hero-slider__arrow-right {
	right: 0;
}

.mmx-pcinet-hero-slider--arrow-style-caret .mmx-pcinet-hero-slider__arrow-right svg {
	transform: rotate(180deg);
}

.mmx-pcinet-hero-slider--arrow-style-caret .mmx-pcinet-hero-slider__arrow-left .mmx-pcinet-hero-slider__arrow-inner,
.mmx-pcinet-hero-slider--arrow-style-caret .mmx-pcinet-hero-slider__arrow-right .mmx-pcinet-hero-slider__arrow-inner {
	fill: #fff;
}

.mmx-pcinet-hero-slider--arrow-style-caret .mmx-pcinet-hero-slider__arrow-left .mmx-pcinet-hero-slider__arrow-outer,
.mmx-pcinet-hero-slider--arrow-style-caret .mmx-pcinet-hero-slider__arrow-right .mmx-pcinet-hero-slider__arrow-outer {
	fill: #575a5d;
}

.mmx-pcinet-hero-slider--arrow-style-caret .mmx-pcinet-hero-slider__arrow-left:hover .mmx-pcinet-hero-slider__arrow-outer,
.mmx-pcinet-hero-slider--arrow-style-caret .mmx-pcinet-hero-slider__arrow-right:hover .mmx-pcinet-hero-slider__arrow-outer {
	fill: #111111;
}

.mmx-pcinet-hero-slider--arrow-style-caret .mmx-pcinet-hero-slider__arrow-left:focus .mmx-pcinet-hero-slider__arrow-outer,
.mmx-pcinet-hero-slider--arrow-style-caret .mmx-pcinet-hero-slider__arrow-right:focus .mmx-pcinet-hero-slider__arrow-outer {
	fill: #3a58fc;
}

/* arrow-style-button */
.mmx-pcinet-hero-slider--arrow-style-button .mmx-pcinet-hero-slider__arrow-left,
.mmx-pcinet-hero-slider--arrow-style-button .mmx-pcinet-hero-slider__arrow-right {
	width: 45px;
	height: 45px;
	padding: 10px;
	background-color: rgba(47, 43, 67, 0.40);
	border: 1px solid var(--mmx-pcinet-color-white);
	border-radius: 50%;
}

.mmx-pcinet-hero-slider--arrow-style-button .mmx-pcinet-hero-slider__arrow-right svg {
	transform: rotate(180deg);
}

.mmx-pcinet-hero-slider--arrow-style-button .mmx-pcinet-hero-slider__arrow-left .mmx-pcinet-hero-slider__arrow-button,
.mmx-pcinet-hero-slider--arrow-style-button .mmx-pcinet-hero-slider__arrow-right .mmx-pcinet-hero-slider__arrow-button {
	fill: var(--mmx-pcinet-color-white);
}

.mmx-pcinet-hero-slider--arrow-style-button .mmx-pcinet-hero-slider__arrow-left:focus,
.mmx-pcinet-hero-slider--arrow-style-button .mmx-pcinet-hero-slider__arrow-right:focus {
	outline: 2px solid var(--mmx-pcinet-color-focus);
}

.mmx-pcinet-hero-slider--arrow-style-button .mmx-pcinet-hero-slider__arrow-left:hover,
.mmx-pcinet-hero-slider--arrow-style-button .mmx-pcinet-hero-slider__arrow-right:hover {
	box-shadow: 0 0 38px rgba(0, 0, 0, 0.21);
}

.mmx-pcinet-hero-slider--arrow-style-button .mmx-pcinet-hero-slider__arrow-left {
	left: 10px;
}

.mmx-pcinet-hero-slider--arrow-style-button .mmx-pcinet-hero-slider__arrow-right {
	right: 10px;
}

@media screen and (min-width: 100em) {
	.mmx-pcinet-hero-slider--arrow-style-button .mmx-pcinet-hero-slider__arrow-left {
		left: -65px;
	}

	.mmx-pcinet-hero-slider--arrow-style-button .mmx-pcinet-hero-slider__arrow-right {
		right: -65px;
	}
}

@media screen and (pointer: coarse) and (max-width: 100em) {
	.mmx-pcinet-hero-slider--arrow-style-button .mmx-pcinet-hero-slider__arrow-left,
	.mmx-pcinet-hero-slider--arrow-style-button .mmx-pcinet-hero-slider__arrow-right {
		display: none;
	}
}

/* arrow-style-none */
.mmx-pcinet-hero-slider--arrow-style-none .mmx-pcinet-hero-slider__arrow-left,
.mmx-pcinet-hero-slider--arrow-style-none .mmx-pcinet-hero-slider__arrow-right {
	display: none;
}

.mmx-pcinet-hero-slider__slider-navigation {
	display: none;
	left: 50%;
	height: 22px;
	padding: 0 16px;
	border-radius: 11px;
	align-items: center;
	justify-content: space-between;
	transform: translateX(-50%);
}

.mmx-pcinet-hero-slider__slider-navigation--type-image {
	height: auto;
}

/* Responsive Sizes for Desktop
   =========================================== */
@media screen and (min-width: 60em) {
	.mmx-pcinet-hero-slider__slider-navigation--position-over {
		display: flex;
		bottom: 20px;
		position: absolute;
	}

	.mmx-pcinet-hero-slider__slider-navigation--position-under {
		display: inline-flex;
		position: relative;
		margin-top: 10px;
	}
}

.mmx-pcinet-hero-slider__slider-navigation.mmx-pcinet-hero-slider__slider-navigation--style-none {
	display: none;
}

.mmx-pcinet-hero-slider__slider-navigation.mmx-pcinet-hero-slider__slider-navigation--style-normal {
	background-color: rgba(17, 17, 17, 0.2);
}

.mmx-pcinet-hero-slider__slider-navigation.mmx-pcinet-hero-slider__slider-navigation--style-minimal {
	background-color: transparent;
}

.mmx-pcinet-hero-slider__slider-navigation > button {
	border: none;
	position: relative;
	display: inline-block;
	margin-left: 16px;
	width: 10px;
	height: 10px;
	padding: 0;
	border-radius: 50%;
	cursor: pointer;
	outline: none;
	box-sizing: border-box;
}

.mmx-pcinet-hero-slider__slider-navigation.mmx-pcinet-hero-slider__slider-navigation--type-image > button {
	width: 100%;
	height: auto;
}

.mmx-pcinet-hero-slider__slider-navigation.mmx-pcinet-hero-slider__slider-navigation--style-normal > button {
	background-color: rgba(255, 255, 255, 0.5);
}

.mmx-pcinet-hero-slider__slider-navigation.mmx-pcinet-hero-slider__slider-navigation--style-minimal > button {
	background-color: #EAEAEA;
}

.mmx-pcinet-hero-slider__slider-navigation.mmx-pcinet-hero-slider__slider-navigation--style-normal > button.selected {
	background-color: #FFFFFF;
}

.mmx-pcinet-hero-slider__slider-navigation.mmx-pcinet-hero-slider__slider-navigation--style-minimal > button.selected {
	background-color: #767676;
}

.mmx-pcinet-hero-slider__slider-navigation.mmx-pcinet-hero-slider__slider-navigation--style-normal > button:focus {
	background-color: #FFFFFF;
	box-shadow: 0 0 0 1px #B4B4B4, 0 0 0 3px #3A58FC;
}

.mmx-pcinet-hero-slider__slider-navigation.mmx-pcinet-hero-slider__slider-navigation--style-minimal > button:focus {
	background-color: #767676;
	box-shadow: 0 0 0 1px #B4B4B4, 0 0 0 3px #3A58FC;
}

.mmx-pcinet-hero-slider__slider-navigation.mmx-pcinet-hero-slider__slider-navigation--style-normal > button:hover {
	background-color: #FFFFFF;
	box-shadow: 0 0 0 2px #B4B4B4, 0 0 0 3px #FFFFFF;
}

.mmx-pcinet-hero-slider__slider-navigation.mmx-pcinet-hero-slider__slider-navigation--style-minimal > button:hover {
	background-color: #767676;
	box-shadow: 0 0 0 2px #B4B4B4, 0 0 0 3px #767676;
}

.mmx-pcinet-hero-slider__slider-navigation.mmx-pcinet-hero-slider__slider-navigation--type-image > button.selected,
.mmx-pcinet-hero-slider__slider-navigation.mmx-pcinet-hero-slider__slider-navigation--type-image > button:hover,
.mmx-pcinet-hero-slider__slider-navigation.mmx-pcinet-hero-slider__slider-navigation--type-image > button:focus,
.mmx-pcinet-hero-slider__slider-navigation.mmx-pcinet-hero-slider__slider-navigation--type-image > button {
	background-color: transparent;
	border-radius: 4px;
}

.mmx-pcinet-hero-slider__slider-navigation.mmx-pcinet-hero-slider__slider-navigation--type-image > button > img {
	border: 1px solid #B2AEBF;
}

.mmx-pcinet-hero-slider__slider-navigation > button:first-child {
	margin-left: 0;
}